<form action="">
  <div class="form-group row">
    <label class="col-md-2 col-form-label">Tytuł artykułu</label>
    <div class="col-md-10">
      <input type="text" class="form-control" />
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-2 col-form-label">Kategoria</label>
    <div class="col-md-10">
      <select id="inputState" class="form-control col-md-3">
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-2 col-form-label">Słowa kluczowe</label>
    <div class="col-md-10">
      <input type="text" class="form-control" />
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-2 col-form-label">Krótki artykułu</label>
    <div class="col-md-10">
      <textarea type="text" class="form-control bgTextaAre" rows="5"></textarea>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-2 col-form-label">Zdjęcia</label>
    <div class="col-md-10">
      <textarea type="text" class="form-control bgTextaAre" rows="5"></textarea>
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-2 col-form-label">Treść artykułu</label>
    <div class="col-md-10 bgAreaColor">
      <angular-editor (ngModel)="htmlContent" [config]="config" ></angular-editor>
     </div>
  </div>
</form>