:host{
    min-width: 100%;
    min-height: 60vh;
}

main{
    width: 100%;

}
.lastArticle {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 50px;
  height: auto;
  margin-bottom: 50px;
}

.olderArticle{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 50px;
    grid-auto-rows: 1fr;
    height: auto;
}

.olderArticle>figure>a{
    text-decoration: none;
    color: black;
}

figure>a>.card{
    height: 100%;
}

figure {
  position: relative;
}

.opacity{
    top: 0;
    bottom: 0;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #3532329d;
    opacity: 0;
    transition: .5s ease;
}

.bgColor{
    background: #BDBDBD;
}

figure:hover>a>.opacity,.card:hover>.opacity{
    opacity: 1;
}
figure:hover>a>header>h1{
    z-index: 1;
}
.card:hover>.card-body{
    background: #817e7e;
    opacity: 1;
    z-index: 99;
}

.card:hover>.card-body>h5{
    color: rgb(255, 255, 255);
    opacity: 1;
    z-index: 100;
}
figure >a> img {
  z-index: 0;
  width: 100%;
  min-height: 415px;
  border: 1px solid black;
  height: auto;
  object-fit: cover;
}

h1 {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.65);
  width: 100%;
  margin: 0;
  color: white;
  font-style: normal;
  font-weight: bold;
  padding: 20px 10px;
}


@media(max-width:1000px){
    main{
        width: 100%;
    }

    .lastArticle{
        display: inline-grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        grid-row-gap: 20px;
    }
    .olderArticle{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-row-gap: 20px;
    }
}


@media(max-width:360px){
    .olderArticle{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(1fr);
        grid-row-gap: 20px;
    }
}