<button *ngIf="isShow" (click)="gotoTop()"><i class="fas fa-caret-up fa-2x"></i></button>
<main>
  <h1>{{name}}</h1>
  <hr/>
  <div class="lastArticle">
      <figure *ngFor="let element of arraytest | slice:0:2">
          <a routerLink="/article" alt="">
          <img src="{{element.name}}" />
          <header><h1 class="h1MainArticle">{{element.id}}</h1></header>       
          <div class="opacity"></div>
          </a>
      </figure>
  </div>
  <div class="olderArticle">
      <figure *ngFor="let element of arraytest | slice:2:6">
          <a routerLink="/article" alt="">
          <div class="card">
              <img class="card-img-top" src="{{element.name}}" alt="Card image cap">
              <header class="card-body bgColor">
                  <h5 class="card-title">{{element.id}}</h5>
              </header>
              <div class="opacity"></div>
          </div>
          </a>    
      </figure>
  </div>
  <span *ngIf="isEndList">Brak kolejnych artykułów<h2 style="color: red;">Zmienić na buttona</h2></span>

</main>