html,
body {
  height: 100%;
  min-height: 100vh;
  min-width: 300px;
}

.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.FullContainer {
  height: 100%;
}

.score {
  min-height: 134px;
  max-height: 160px;
}

.contentPage {
  min-height: calc(100% - 156px);
  max-height: 100%;
  background: #e9e7e7;
  padding: 50px;
}
.fullColor {
  background: #e9e7e7;
}

.menuToggle {
  display: none;
}

.NavSide {
  background: #232121;
  box-shadow: 0 0 20px 15px rgba(0, 0, 0, 0.5);
  min-height: calc(100vh - 70px);
  z-index: 10;
}
.imgLogo {
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.19),
    rgba(255, 255, 255, 0.19)
  );
  border: 2px solid #000000;
  border-radius: 50px;
  max-width: 100%;
  height: auto;
}

@media (max-width: 1050px) {
  .contentPage {
    padding: 2%;
    padding-top: 20px;
  }
}

@media (max-width: 850px) {
  .ResponseSizeBar {
    min-height: 10vh;
    max-height: 50px;
  }
  .ResponseSizeMain {
    min-height: 90vh;
    max-height: calc(100vh - 50px);
  }
  .mobileSticky {
    position: sticky;
    top: 0;
    z-index: 11;
  }
}

@media (max-width: 768px) {
  .NavSide {
    min-height: auto;
  }
  nav{
    position: fixed;   
    right: 0;
    height: 100vh;
    width: 100vw;
    background: #232121;
    visibility: hidden;
    z-index: 11;
    padding-top: 20px;
  }
  nav.user{
    top:64px;
  }  
  nav.visitor{
    top:85px;
  }
  .NavSelected {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 11;
  }
}
