/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
  min-height: 100vh;
  background: #e9e7e7;
  min-width: 300px;
}

.FullContainer {
  height: 100%;
}

.score {
  min-height: 134px;
  max-height: 160px;
}

.contentPage {
  min-height: calc(100% - 156px);
  max-height: 100%; /*calc(100% - 180px);*/
  background: #e9e7e7;
  padding: 50px;
}

.NavTop {
  background: #232121;
  box-shadow: 0px -3px 20px 20px  rgba(0, 0, 0, 0.5);
  min-height: 40px;
  height: 10vh;
  max-height: 70px;
  z-index: 10;
}
.NavSide {
  background: #232121;
  box-shadow: 0 0 20px 15px rgba(0, 0, 0, 0.5);
  min-height: 100vh;
  z-index: 10;
}

@media (max-width: 850px) {
  .ResponseSizeBar {
    min-height: 10vh;
    max-height: 50px;
  }
  .ResponseSizeMain {
    min-height: 90vh;
    max-height: calc(100vh - 50px);
  }
  .NavTop{
    height: 100%;
  }
}