<div class="background">
  <div class="loginForm">
    <div class="leftContent">
      <div class="imgAndText">
        <img class="imgLogo" src="assets/logo.png" alt="Logo serwisu sportowego" />
        <span class="aboutPage">Logowanie do panelu administratorów i dziennikarzy</span>
      </div>
    </div>
    <div class="rightContent">
      <form #userPost="ngForm" (ngSubmit)="CheckUser(userPost)">
        <div class="input-group formRow">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span>
          </div>
          <input type="text" [ngModel] name="login" class="form-control" placeholder="Login" aria-label="Login" aria-describedby="basic-addon1">
        </div>
        <div class="input-group formRow">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><i class="fas fa-unlock-alt"></i></span>
          </div>
          <input type="password" [ngModel] name="password" class="form-control" placeholder="Hasło" aria-label="Hasło" aria-describedby="basic-addon1">
        </div>
        <div class="input-group formRow">
          <button type="submit" class="btn btn-success btn-lg btn-block">Zaloguj się</button>
        </div>
      </form>
    </div>
  </div>
</div>