<div class="contentSchedule">
  <div class="menuSchedule">
    <button (click)="SelectedResultFootbal()">Piłka nożna</button>
    <button (click)="SelectedResultBasketball()">Koszykówka</button>
    <button>Tenis</button>
    <button>Siatkówka</button>
  </div>
  <div class="scheduleAndResult" *ngIf='CheckListFill()'>
    <div class="result" *ngFor="let item of returnPastlList() | slice:0:5">
      <div class="line">
        <span>{{item.homeName}}</span><span>{{item.homeGoal}}</span>
      </div>
      <div class="line">
        <span>{{item.awayName}}</span><span>{{item.awayGoal}}</span>
      </div>
    </div>
    <span class="breakLine"></span>
    <div class="schedule" *ngFor="let item of returnNextlList() | slice:0:5">
        <span class="date">{{item.dateMatach | date:'dd/MM/yyyy'}}</span>
        <span>{{item.homeName}}</span>
        <span>{{item.awayName}}</span>
    </div>
  </div>
</div>