<div class="mainBar" #mainbar>
  <div class="logAndMap">
    <div class="LeftItem">
      <a routerLink="/login">Zaloguj się</a>
    </div>
    <div class="menuToggle">
      <button class="hamburger float-right" type="button" [(ngModel)]="model" ngDefaultControl (click)="showHideMenu()">
        <i class="fas fa-bars fa-2x"></i>
      </button>
    </div>
    <div class="RightItem">
      <a href="#">Mapa serwisu</a>
    </div>
  </div>
  <div class="changeColorAndSize">
    <a href="javascript:;" class="fontAndtheme normal" (click)="fontNormalChange()">A</a>
    <a href="javascript:;" class="fontAndtheme large" (click)="fontLargeChange()">A+</a>
    <a href="javascript:;" class="fontAndtheme verylarge" (click)="veryLargeChange()" >A++</a>
    <a href="javascript:;" class="whiteTheme fontAndtheme" (click)="standardThemeActive()">AA</a>
    <a href="javascript:;" class="fontAndtheme darkTheme" (click)="blackModeActivation()">AA</a>
  </div>

</div>