<div class="stickyMenu" (window:resize)="onResize($event)">
  <header>
    <a routerLink="/home">
      <img class="imgLogo" src="assets/logo.png" alt="Logo serwisu sportowego" />
    </a>
  </header>
  <nav class="user">
    <ul class="navOption nav flex-column">
      <li class="active" *ngFor="let element of AdminArray">
        <i class="fas fa-info-circle"></i>
        <a [routerLink] = "[element.url, element.queryParams]">{{element.text}}         
        </a>
      </li>
    </ul>
  </nav>
  <div class="searcherAndSocialMedia">
    <footer class="footerBottom row">
      <div class="rulesAndAuthor">
        Wszystkie prawa zastrzeżone <br />
        Autor: Karol Ścigała
      </div>
    </footer>
  </div>
</div>