.stickyMenu{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
  }
  
  .standardItem{
    position: relative;
    height: auto;
    width: 100%;
  }
  
  .stickyItem{
    position: sticky;
    top: 0;
    height: 90vh;
  }
  .navOption {
    color: white;
    overflow-y: auto;
  }
  
  .imgLogo{
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
  }
  
  ul>li{
      border-bottom: 1px solid white;
      text-align: center;
      background: rgba(196, 196, 196, 0.09);
      padding: 5px;
  }
  
  ul>li:hover{
    background: rgba(46, 44, 44, 0.09);
  }
  
  ul>li>a{
      color: white;
  }
  
  
  .rulesAndAuthor{
    padding-top: 10px;
    color:white;
    font-size: small;
    text-align: center;
  }
  
  @media (max-width: 850px) {
    .stickyMenu{
      height: 100%;
      position: relative;
    }
  }