<div class="container-fluid">
    <div class="row">
        <app-barVisitor class="NavTop col  p-0"></app-barVisitor>
    </div>
    <div class="row flex-grow-1 position-relative">
        <app-menu class="col-sm-3 NavSide p-0 "></app-menu>
        <div class="col-sm-9 flex-column fullColor" >
            <app-scheduleAndScore class="p-0 row score"></app-scheduleAndScore>
            <div class="row contentPage">
                <router-outlet></router-outlet>
            </div>         
        </div>
    </div>
</div>
