<!--<router-outlet></router-outlet>-->

<div class="container-fluid">
    <div class="row">
        <app-barUser class="col NavTop p-0"></app-barUser>
    </div>
    <div class="row flex-grow-1">
        <app-menu class="col-sm-3 NavSide p-0"></app-menu>
        <div class="col-sm-9 flex-column">
            <app-scheduleAndScore class="p-0 row score"></app-scheduleAndScore>
            <app-visitor-home class="row contentPage"></app-visitor-home>
        </div>
    </div>
</div>

<!--container-fluid vw-100 d-flex flex-column-->