.NavTop {
    background: #232121;
    box-shadow: 0px -3px 20px 20px rgba(0, 0, 0, 0.5);
    height: auto;
    z-index: 10;
  }

.specialMenu{
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  list-style: none;
}

.linkTab{
  display: inline;
  left: -9000em;
  padding: 5px 10px;
  font-size: 1.27em;
  position: absolute;
  text-decoration: none;
  z-index: 20;
  text-align: center;
}
.linkTab:hover,
.linkTab:focus,
.linkTab:active {
    background: #000000;
    border: 2px solid #FFFFFF;
    color: yellow;
    left: 0;
    top: 0;
    position: absolute;
}
  
@media (max-width: 850px) {
    .NavTop {
      height: auto;
    }
    .mobileSticky {
      position: sticky;
      top: 0;
      z-index: 11;
    }
  }

