<div class="container-fluid">
    <nav>
        <ul class="specialMenu">
            <li><a class="linkTab" href="#menuPage" >Przejdź do nawigacji</a></li>
            <li><a class="linkTab" href="#search" >Przejdź do wyszukiwarki</a></li>
            <li><a class="linkTab" href="#content" >Przejdź do treści</a></li>
        </ul>
    </nav>
    <div class="row mobileSticky">
        <app-barVisitor class="NavTop col  p-0"></app-barVisitor>
    </div>
    <div class="row flex-grow-1 position-relative h-100">
        <app-menu class="col-md-3 NavSide p-0 "></app-menu>
        <div class="col-md-9 flex-column fullColor" >
            <app-scheduleAndScore class="p-0 row score"></app-scheduleAndScore>
            <button *ngIf="isShow" (click)="gotoTop()" class="scrollButton"><i class="fas fa-caret-up fa-2x"></i></button>
            <div class="row contentPage" id="content">
                <router-outlet></router-outlet>
            </div>         
        </div>
    </div>
</div>
