<div class="modal-header">
    <h4 class="modal-title">Edycja kategorii</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    </button>
</div>
<form #userPost="ngForm" (ngSubmit)="submitForm(userPost)">
    <div class="modal-boy">
        <div class="container">
            <div class="form-group">
                <label for="username">Nazwa kategorii</label>
                <input type="text" [(ngModel)]="category.name" class="form-control" name="CategoryName" ngModel placeholder="Nazwa kategorii"
                    aria-label="Nazwa kategorii" aria-describedby="basic-addon2">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" type="submit">
            Zatwierdź zmiany
        </button>
    </div>
</form>