<div class="User" *ngIf = "id==1">
  <button class="btn btn-success addButton" routerLink = "../editForm" >Dodaj użytkownika</button>
<table class="table table-striped table-dark userTab" >
  <thead>
    <th scope="col">Login</th>
    <th scope="col">Data ważności hasła</th>
    <th scope="col">Rola</th>
    <th scope="col">Ostatnia modyfikacja</th>
    <th scope="col"></th>
  </thead>
  <tbody>
    <tr *ngFor = "let row of UserList">
      <td>{{row.login}}</td>
      <td>{{row.passwordExpired}}</td>
      <td>{{row.nameRole}}</td>
      <td>Ostatnia modyfikacja</td>
      <td>
        <button class="btn btn-warning"><i class="fas fa-edit"></i></button>
        <button class="btn btn-danger"><i class="fas fa-times"></i></button>
      </td>
    </tr>
  </tbody>
</table>
</div>

<div *ngIf = "id==2">
<button class="btn btn-success addButton" routerLink = "../articleForm" >Dodaj artykuł</button>
<table class="table table-striped table-dark articleTab">
  <thead>
    <!--<th scope="col" style="width: 10%">L.p.</th>-->
    <th scope="col">Tytuł</th>
    <th scope="col">Krótki artykuł</th>
    <th scope="col">słowa kluczowe</th>
    <th scope="col">Kategoria</th>
    <th scope="col">Data publikacji</th>
    <th scope="col"></th>
  </thead>
  <tbody>
    <tr *ngFor = "let row of ArticleList">
    <!--  <td scope="row" style="width: 10%">{{number}}</td>-->
      <td>{{row.title}}</td>
      <td>{{row.shortArticle | truncate:[100, '...']}}</td>
      <td>brak rekordu w modelu</td>
      <td>{{row.name}}</td>
      <td>{{row.publicationTime}}</td>
      <td>
        <button [routerLink] = "['../articleForm', 1]" class="btn btn-warning"><i class="fas fa-edit"></i></button>
        <button (click) = "ModalDelete(row.articleId)" class="btn btn-danger"><i class="fas fa-times"></i></button>
      </td>
    </tr>
  </tbody>
</table>
</div>

<div class="Category" *ngIf = "id==3">
  <form #userPost = "ngForm" (ngSubmit) = "AddCategoryForm(userPost)" >
    <div class="input-group mb-3">
      <input type="text" class="form-control" name="CategoryName" ngModel placeholder="Nazwa kategorii" aria-label="Nazwa kategorii" aria-describedby="basic-addon2" >
      <div class="input-group-append">
        <button class="btn btn btn-success" type="submit">Dodaj</button>
      </div>
    </div>
  </form>
  <table class="table table-striped table-dark">
    <thead>
      <th scope="col">Id</th>
      <th scope="col">Nazwa kategorii</th>
      <th scope="col">Osoba modyfikująca</th>
      <th scope="col">Data modyfikacji</th>
      <th scope="col">Sortowanie</th>
      <th scope="col"></th>
    </thead>
    <tbody>
      <tr *ngFor = "let element of CategoryList">
        <td scope="row">{{element.categoryId}}</td>
        <td>{{element.name}}</td>
        <td>{{element.userModified}}</td>
        <td>{{element.lastModified | date: 'dd-MM-yyyy HH:mm' }}</td>
        <td>{{element.sortField}}</td>
        <td>
          <button class="btn btn-info" (click) = "MoveUpCategory(element.categoryId)"><i class="fas fa-angle-up"></i></button>
          <button class="btn btn-info" (click) = "MoveDownCategory(element.categoryId)"><i class="fas fa-angle-down"></i></button>
          <button class="btn btn-warning" (click)= "openFormModal(element)" ><i class="fas fa-edit"></i></button>
          <button class="btn btn-warning" (click) = "DeleteCategory(element.categoryId)"><i class="fas fa-times"></i></button>
        </td>        
      </tr>
    </tbody>
    <div *ngIf = "isLoading">Loading...</div>
    <div *ngIf = "isError">Wystąpił błąd połączenia</div>
  </table>
</div>
