:host {
  width: 100%;
}
.addButton{
  float: right;
  margin: 10px;
}

.table {
  table-layout: fixed;
}

td,th {
  vertical-align: middle;
  word-wrap: break-word;
  word-break: break-word;
}

tr > td:last-child {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 15px;
}

tr,th{
  text-align: center;
}

.Category {
  width: 80%;
  margin: auto;
}

.Category > form {
  width: 75%;
  margin: auto;
}

.Category>table>tbody>tr > td:last-child {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 50px);
  grid-template-rows: repeat(2, 40px);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

.lpSize{
  max-width: max-content;
}

@media (max-width: 1250px) {
  .Category {
    width: 100%;
  }
  .articleTab > thead > th:nth-child(3),
  .articleTab > tbody > tr > td:nth-child(3) {
    display: none;
  }

  .Category>table>tbody>tr > td:last-child {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
  }
}

@media (max-width: 1000px) {
  .articleTab > thead > th:nth-child(3),
  .articleTab > thead > th:nth-child(4),
  .articleTab > tbody > tr > td:nth-child(3),
  .articleTab > tbody > tr > td:nth-child(4) {
    display: none;
  }
  tr > td:last-child {
    display: flex;
    flex-direction: column;
  }

  .Category>table>tbody>tr > td:last-child {
    display: block;
  }
  .Category>table>tbody>tr > td:last-child>button {
    width: 75%;
    margin-bottom: 3px;
  }
}
