<article #article>
  <header>
    <h1>{{FullArticle?.title}}</h1>
    <hr />
    <h6>{{this.GetEditorNameOrDate()}}</h6>
  </header>
  <section class="shortArticle">{{FullArticle?.shortArticle}} </section>
  <figure>
    <img src="{{FullArticle?.picture}}" alt="{{FullArticle?.pictureDescirption}}" />
    <figcaption>Źródło: {{this.checkSourcPic()}}</figcaption>
  </figure>
  <section class="fullArticle" [innerHTML]="FullArticle?.fullArticle"></section>
  <div *ngIf="FullArticle?.sourceArticle">
    <hr />
    <span>Źródło: {{FullArticle?.sourceArticle}}</span>
  </div>
</article>